# b/178980085
dontaudit hal_camera_default system_data_file:dir { search };
# b/180567725
dontaudit hal_camera_default traced:unix_stream_socket { connectto };
dontaudit hal_camera_default traced_producer_socket:sock_file { write };
