<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: 2021 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.google.android.gsf" />
        <package android:name="com.google.android.euicc" />
        <package android:name="com.google.euiccpixel" />
    </queries>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="30"/>

    <application
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
