# b/178979986
dontaudit cbd unlabeled:dir { getattr };
dontaudit cbd unlabeled:file { open };
dontaudit cbd unlabeled:file { read };
dontaudit cbd unlabeled:file { getattr };
dontaudit cbd unlabeled:lnk_file { read };
dontaudit cbd unlabeled:dir { search };
dontaudit cbd unlabeled:file { getattr };
dontaudit cbd unlabeled:dir { getattr };
dontaudit cbd unlabeled:lnk_file { read };
dontaudit cbd unlabeled:dir { search };
dontaudit cbd unlabeled:file { read };
dontaudit cbd unlabeled:file { open };
# b/179198083
dontaudit cbd unlabeled:file { ioctl };
dontaudit cbd unlabeled:file { ioctl };
