# b/183560282
dontaudit gmscore_app aac_drc_prop:file { map };
dontaudit gmscore_app ab_update_gki_prop:file { open };
dontaudit gmscore_app ab_update_gki_prop:file { getattr };
dontaudit gmscore_app ab_update_gki_prop:file { map };
dontaudit gmscore_app apexd_config_prop:file { open };
dontaudit gmscore_app apexd_config_prop:file { getattr };
dontaudit gmscore_app aac_drc_prop:file { getattr };
dontaudit gmscore_app aac_drc_prop:file { open };
dontaudit gmscore_app modem_img_file:filesystem { getattr };
dontaudit gmscore_app modem_img_file:filesystem { getattr };
dontaudit gmscore_app aac_drc_prop:file { open };
dontaudit gmscore_app aac_drc_prop:file { getattr };
dontaudit gmscore_app aac_drc_prop:file { map };
dontaudit gmscore_app ab_update_gki_prop:file { open };
dontaudit gmscore_app ab_update_gki_prop:file { getattr };
dontaudit gmscore_app ab_update_gki_prop:file { map };
dontaudit gmscore_app apexd_config_prop:file { open };
dontaudit gmscore_app apexd_config_prop:file { getattr };
