# b/173969091
dontaudit gpsd radio_prop:file { read };
dontaudit gpsd radio_prop:file { open };
dontaudit gpsd radio_prop:file { map };
dontaudit gpsd radio_prop:file { map };
dontaudit gpsd system_data_file:dir { search };
dontaudit gpsd radio_prop:file { read };
dontaudit gpsd radio_prop:file { open };
dontaudit gpsd radio_prop:file { getattr };
dontaudit gpsd system_data_file:dir { search };
dontaudit gpsd radio_prop:file { getattr };
