# b/182524105
dontaudit hal_neuralnetworks_darwinn tmpfs:file { open };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { write };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { map };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { write };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { read };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { open };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { map };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { read };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { read };
dontaudit hal_neuralnetworks_darwinn tmpfs:file { read };
# b/183935302
dontaudit hal_neuralnetworks_darwinn proc_version:file { read };
dontaudit hal_neuralnetworks_darwinn proc_version:file { read };
