# b/171760721
dontaudit hal_power_stats_default sysfs:file { read };
dontaudit hal_power_stats_default sysfs:file { getattr };
dontaudit hal_power_stats_default sysfs:file { read };
dontaudit hal_power_stats_default sysfs:file { getattr };
dontaudit hal_power_stats_default sysfs:file { open };
dontaudit hal_power_stats_default sysfs:file { getattr };
dontaudit hal_power_stats_default sysfs:dir { read };
dontaudit hal_power_stats_default sysfs:dir { open };
dontaudit hal_power_stats_default sysfs:file { read };
dontaudit hal_power_stats_default sysfs:file { open };
dontaudit hal_power_stats_default sysfs:file { open };
