# b/182086633
dontaudit hal_sensors_default servicemanager:binder { call };
dontaudit hal_sensors_default device:dir { read };
dontaudit hal_sensors_default device:dir { watch };
dontaudit hal_sensors_default aoc_device:chr_file { read write };
dontaudit hal_sensors_default aoc_device:chr_file { open };
dontaudit hal_sensors_default mnt_vendor_file:dir { search };
dontaudit hal_sensors_default persist_file:dir { search };
dontaudit hal_sensors_default persist_file:dir { getattr };
dontaudit hal_sensors_default persist_file:dir { read };
dontaudit hal_sensors_default persist_file:dir { open };
dontaudit hal_sensors_default persist_file:file { getattr };
dontaudit hal_sensors_default persist_file:file { read };
dontaudit hal_sensors_default persist_file:file { open };
dontaudit hal_sensors_default vendor_data_file:dir { read };
dontaudit hal_sensors_default vendor_data_file:dir { open };
dontaudit hal_sensors_default vendor_data_file:file { getattr };
dontaudit hal_sensors_default vendor_data_file:file { read };
dontaudit hal_sensors_default vendor_data_file:file { open };
dontaudit hal_sensors_default fwk_stats_service:service_manager { find };
dontaudit hal_sensors_default servicemanager:binder { call };
dontaudit hal_sensors_default servicemanager:binder { transfer };
dontaudit hal_sensors_default servicemanager:binder { transfer };
dontaudit hal_sensors_default servicemanager:binder { call };
dontaudit hal_sensors_default aoc_device:chr_file { getattr };
dontaudit hal_sensors_default aoc_device:chr_file { read write };
dontaudit hal_sensors_default aoc_device:chr_file { open };
dontaudit hal_sensors_default vendor_data_file:file { write };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { read };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { open };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { getattr };
dontaudit hal_sensors_default vendor_data_file:file { write };
dontaudit hal_sensors_default vendor_data_file:file { read };
dontaudit hal_sensors_default vendor_data_file:file { getattr };
dontaudit hal_sensors_default persist_file:dir { search };
dontaudit hal_sensors_default vendor_data_file:dir { open };
dontaudit hal_sensors_default aoc_device:chr_file { read write };
dontaudit hal_sensors_default vendor_data_file:dir { read };
dontaudit hal_sensors_default persist_file:file { open };
dontaudit hal_sensors_default vendor_data_file:file { open };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { getattr };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { open };
dontaudit hal_sensors_default sysfs_aoc_boottime:file { read };
dontaudit hal_sensors_default persist_file:file { read };
dontaudit hal_sensors_default persist_file:file { getattr };
dontaudit hal_sensors_default device:dir { read };
dontaudit hal_sensors_default persist_file:dir { open };
dontaudit hal_sensors_default persist_file:dir { read };
dontaudit hal_sensors_default persist_file:dir { getattr };
dontaudit hal_sensors_default vendor_data_file:file { open };
dontaudit hal_sensors_default mnt_vendor_file:dir { search };
dontaudit hal_sensors_default device:dir { read };
dontaudit hal_sensors_default device:dir { watch };
dontaudit hal_sensors_default servicemanager:binder { transfer };
dontaudit hal_sensors_default aoc_device:chr_file { open };
# b/182523946
dontaudit hal_sensors_default chre_socket:sock_file { write };
dontaudit hal_sensors_default chre:unix_stream_socket { connectto };
dontaudit hal_sensors_default chre:unix_stream_socket { connectto };
