# b/171760921
dontaudit hal_power_default hal_power_default:capability { dac_override };
# b/178331773
dontaudit hal_power_default sysfs:file { write };
dontaudit hal_power_default sysfs:file { open };
dontaudit hal_power_default sysfs:file { write };
dontaudit hal_power_default sysfs:file { open };
# b/178752616
dontaudit hal_power_default sysfs:file { read };
dontaudit hal_power_default sysfs:file { getattr };
dontaudit hal_power_default sysfs:file { read };
dontaudit hal_power_default sysfs:file { getattr };
# b/188752940
dontaudit hal_power_default hal_power_default:capability dac_read_search;
