# b/182705986
dontaudit hal_bootctl_default devinfo_block_device:blk_file { open };
dontaudit hal_bootctl_default devinfo_block_device:blk_file { read };
