# b/176868159
dontaudit incidentd apk_verity_prop:file getattr ;
dontaudit incidentd apk_verity_prop:file map ;
dontaudit incidentd apk_verity_prop:file getattr ;
dontaudit incidentd apk_verity_prop:file open ;
dontaudit incidentd apexd_prop:file map ;
dontaudit incidentd apexd_prop:file getattr ;
dontaudit incidentd apexd_prop:file getattr ;
dontaudit incidentd apexd_prop:file map ;
dontaudit incidentd apk_verity_prop:file open ;
dontaudit incidentd apk_verity_prop:file map ;
# b/177176812
dontaudit incidentd audio_config_prop:file open ;
dontaudit incidentd ab_update_gki_prop:file open ;
dontaudit incidentd ab_update_gki_prop:file map ;
dontaudit incidentd ab_update_gki_prop:file getattr ;
dontaudit incidentd audio_config_prop:file open ;
dontaudit incidentd aac_drc_prop:file map ;
dontaudit incidentd aac_drc_prop:file getattr ;
dontaudit incidentd aac_drc_prop:file open ;
dontaudit incidentd aac_drc_prop:file open ;
dontaudit incidentd ab_update_gki_prop:file map ;
dontaudit incidentd aac_drc_prop:file map ;
dontaudit incidentd ab_update_gki_prop:file getattr ;
dontaudit incidentd aac_drc_prop:file getattr ;
dontaudit incidentd ab_update_gki_prop:file open ;
# b/177389412
dontaudit incidentd audio_config_prop:file { getattr };
dontaudit incidentd audio_config_prop:file { getattr };
dontaudit incidentd audio_config_prop:file { map };
dontaudit incidentd bluetooth_a2dp_offload_prop:file { open };
dontaudit incidentd bluetooth_a2dp_offload_prop:file { map };
dontaudit incidentd nfc_service:service_manager { find };
dontaudit incidentd bluetooth_a2dp_offload_prop:file { map };
dontaudit incidentd bluetooth_a2dp_offload_prop:file { getattr };
dontaudit incidentd bluetooth_a2dp_offload_prop:file { open };
dontaudit incidentd audio_config_prop:file { map };
dontaudit incidentd bluetooth_a2dp_offload_prop:file { getattr };
# b/177614642
dontaudit incidentd bluetooth_audio_hal_prop:file { map };
dontaudit incidentd bluetooth_audio_hal_prop:file { open };
dontaudit incidentd bluetooth_prop:file { map };
dontaudit incidentd bluetooth_prop:file { getattr };
dontaudit incidentd bluetooth_prop:file { open };
dontaudit incidentd bluetooth_audio_hal_prop:file { map };
dontaudit incidentd bluetooth_audio_hal_prop:file { getattr };
dontaudit incidentd boottime_prop:file { open };
dontaudit incidentd bluetooth_prop:file { map };
dontaudit incidentd bluetooth_prop:file { getattr };
dontaudit incidentd bluetooth_prop:file { open };
dontaudit incidentd bluetooth_audio_hal_prop:file { open };
dontaudit incidentd bluetooth_audio_hal_prop:file { getattr };
dontaudit incidentd boottime_prop:file { open };
# b/177778217
dontaudit incidentd boottime_public_prop:file { getattr };
dontaudit incidentd boottime_prop:file { getattr };
dontaudit incidentd bpf_progs_loaded_prop:file { open };
dontaudit incidentd boottime_public_prop:file { map };
dontaudit incidentd boottime_public_prop:file { getattr };
dontaudit incidentd boottime_public_prop:file { open };
dontaudit incidentd boottime_prop:file { map };
dontaudit incidentd bpf_progs_loaded_prop:file { getattr };
dontaudit incidentd bpf_progs_loaded_prop:file { open };
dontaudit incidentd boottime_public_prop:file { map };
dontaudit incidentd boottime_prop:file { getattr };
dontaudit incidentd boottime_prop:file { map };
dontaudit incidentd boottime_public_prop:file { open };
dontaudit incidentd bpf_progs_loaded_prop:file { getattr };
# b/177860841
dontaudit incidentd build_bootimage_prop:file { map };
dontaudit incidentd build_config_prop:file { getattr };
dontaudit incidentd build_config_prop:file { open };
dontaudit incidentd bpf_progs_loaded_prop:file { map };
dontaudit incidentd build_bootimage_prop:file { open };
dontaudit incidentd build_bootimage_prop:file { getattr };
dontaudit incidentd build_bootimage_prop:file { map };
dontaudit incidentd build_bootimage_prop:file { getattr };
dontaudit incidentd build_config_prop:file { getattr };
dontaudit incidentd build_config_prop:file { map };
dontaudit incidentd bpf_progs_loaded_prop:file { map };
dontaudit incidentd build_bootimage_prop:file { open };
dontaudit incidentd build_config_prop:file { open };
dontaudit incidentd build_config_prop:file { map };
# b/178752460
dontaudit incidentd camera_calibration_prop:file { open };
dontaudit incidentd charger_config_prop:file { getattr };
dontaudit incidentd charger_config_prop:file { open };
dontaudit incidentd camera_calibration_prop:file { map };
dontaudit incidentd camera_calibration_prop:file { getattr };
dontaudit incidentd charger_config_prop:file { getattr };
dontaudit incidentd camera_calibration_prop:file { open };
dontaudit incidentd camera_calibration_prop:file { getattr };
dontaudit incidentd camera_calibration_prop:file { map };
dontaudit incidentd charger_config_prop:file { open };
# b/179310909
dontaudit incidentd charger_status_prop:file { open };
dontaudit incidentd charger_prop:file { open };
dontaudit incidentd charger_prop:file { getattr };
dontaudit incidentd charger_prop:file { map };
dontaudit incidentd charger_status_prop:file { open };
dontaudit incidentd charger_status_prop:file { getattr };
dontaudit incidentd charger_status_prop:file { map };
dontaudit incidentd charger_config_prop:file { map };
dontaudit incidentd charger_status_prop:file { map };
dontaudit incidentd charger_status_prop:file { getattr };
dontaudit incidentd charger_config_prop:file { map };
dontaudit incidentd charger_prop:file { open };
dontaudit incidentd charger_prop:file { getattr };
dontaudit incidentd charger_prop:file { map };
# b/179437463
dontaudit incidentd cold_boot_done_prop:file { map };
dontaudit incidentd cold_boot_done_prop:file { getattr };
dontaudit incidentd cpu_variant_prop:file { map };
dontaudit incidentd cpu_variant_prop:file { getattr };
dontaudit incidentd cold_boot_done_prop:file { map };
dontaudit incidentd cpu_variant_prop:file { map };
dontaudit incidentd cpu_variant_prop:file { open };
dontaudit incidentd cold_boot_done_prop:file { getattr };
dontaudit incidentd cold_boot_done_prop:file { open };
dontaudit incidentd cold_boot_done_prop:file { open };
dontaudit incidentd cpu_variant_prop:file { open };
dontaudit incidentd cpu_variant_prop:file { getattr };
# b/180963481
dontaudit incidentd ctl_bootanim_prop:file { open };
dontaudit incidentd ctl_adbd_prop:file { open };
dontaudit incidentd ctl_adbd_prop:file { getattr };
dontaudit incidentd ctl_adbd_prop:file { map };
dontaudit incidentd ctl_apexd_prop:file { getattr };
dontaudit incidentd ctl_apexd_prop:file { map };
dontaudit incidentd ctl_adbd_prop:file { open };
dontaudit incidentd ctl_adbd_prop:file { getattr };
dontaudit incidentd ctl_adbd_prop:file { map };
dontaudit incidentd ctl_apexd_prop:file { open };
dontaudit incidentd ctl_apexd_prop:file { getattr };
dontaudit incidentd ctl_apexd_prop:file { map };
dontaudit incidentd ctl_bootanim_prop:file { open };
dontaudit incidentd ctl_apexd_prop:file { open };
# b/181177909
dontaudit incidentd property_type:file *;
