# b/180963348
dontaudit init overlayfs_file:chr_file { unlink };
dontaudit init overlayfs_file:file { rename };
# b/182954138
dontaudit init vendor_file:file { execute };
dontaudit init vendor_file:file { execute };
dontaudit init sysfs:file { setattr };
dontaudit init sysfs:file { setattr };
