# b/182524203
dontaudit installd modem_img_file:filesystem { quotaget };
dontaudit installd modem_img_file:filesystem { quotaget };
dontaudit installd modem_img_file:filesystem { quotaget };
