# b/180551518
dontaudit priv_app apk_verity_prop:file { getattr };
dontaudit priv_app audio_config_prop:file { getattr };
dontaudit priv_app apexd_prop:file { open };
dontaudit priv_app apexd_prop:file { getattr };
dontaudit priv_app apexd_prop:file { map };
dontaudit priv_app apk_verity_prop:file { open };
dontaudit priv_app audio_config_prop:file { open };
dontaudit priv_app apk_verity_prop:file { map };
dontaudit priv_app apk_verity_prop:file { getattr };
dontaudit priv_app apk_verity_prop:file { open };
dontaudit priv_app apexd_prop:file { map };
dontaudit priv_app apexd_prop:file { getattr };
dontaudit priv_app apexd_prop:file { open };
dontaudit priv_app apexd_prop:file { open };
dontaudit priv_app apexd_prop:file { getattr };
dontaudit priv_app apexd_prop:file { map };
dontaudit priv_app apk_verity_prop:file { open };
dontaudit priv_app apk_verity_prop:file { getattr };
dontaudit priv_app apk_verity_prop:file { map };
dontaudit priv_app audio_config_prop:file { open };
dontaudit priv_app audio_config_prop:file { getattr };
dontaudit priv_app apexd_prop:file { open };
dontaudit priv_app apexd_prop:file { getattr };
dontaudit priv_app apexd_prop:file { map };
dontaudit priv_app apk_verity_prop:file { open };
dontaudit priv_app apk_verity_prop:file { getattr };
# b/180567612
dontaudit priv_app audio_config_prop:file { map };
dontaudit priv_app bluetooth_audio_hal_prop:file { getattr };
dontaudit priv_app bluetooth_audio_hal_prop:file { map };
dontaudit priv_app bluetooth_prop:file { open };
dontaudit priv_app bluetooth_prop:file { getattr };
dontaudit priv_app bluetooth_audio_hal_prop:file { open };
dontaudit priv_app bluetooth_a2dp_offload_prop:file { map };
dontaudit priv_app bluetooth_a2dp_offload_prop:file { getattr };
dontaudit priv_app bluetooth_a2dp_offload_prop:file { open };
dontaudit priv_app audio_config_prop:file { map };
dontaudit priv_app bluetooth_a2dp_offload_prop:file { open };
dontaudit priv_app bluetooth_a2dp_offload_prop:file { getattr };
dontaudit priv_app bluetooth_a2dp_offload_prop:file { map };
dontaudit priv_app bluetooth_audio_hal_prop:file { open };
dontaudit priv_app bluetooth_audio_hal_prop:file { getattr };
dontaudit priv_app bluetooth_audio_hal_prop:file { map };
dontaudit priv_app bluetooth_prop:file { open };
dontaudit priv_app bluetooth_prop:file { getattr };
# b/180656244
dontaudit priv_app property_type:file *;
# b/180858511
dontaudit priv_app hal_neuralnetworks_armnn:binder { call };
dontaudit priv_app hal_neuralnetworks_armnn:binder { call };
