# b/180858511
dontaudit priv_app hal_neuralnetworks_armnn:binder { call };
dontaudit priv_app hal_neuralnetworks_armnn:binder { call };
# b/183161715
dontaudit priv_app vendor_default_prop:file { open };
dontaudit priv_app vendor_default_prop:file { getattr };
dontaudit priv_app vendor_default_prop:file { map };
dontaudit priv_app vendor_default_prop:file { open };
dontaudit priv_app vendor_default_prop:file { getattr };
dontaudit priv_app vendor_default_prop:file { map };
