# b/173969190
dontaudit scd vendor_data_file:dir { write };
dontaudit scd vendor_data_file:dir { add_name };
dontaudit scd vendor_data_file:dir { write };
dontaudit scd vendor_data_file:file { create };
dontaudit scd vendor_data_file:file { lock };
dontaudit scd vendor_data_file:file { create };
dontaudit scd vendor_data_file:file { lock };
dontaudit scd vendor_data_file:file { open };
dontaudit scd vendor_data_file:file { write };
dontaudit scd vendor_data_file:file { write };
dontaudit scd vendor_data_file:file { open };
dontaudit scd vendor_data_file:dir { add_name };
