# b/182086688
dontaudit servicemanager hal_sensors_default:binder { call };
dontaudit servicemanager hal_sensors_default:binder { call };
# b/186067463
dontaudit servicemanager hal_camera_default:binder call;
