# b/180874342
dontaudit trusty_apploader dmabuf_system_heap_device:chr_file { read };
dontaudit trusty_apploader dmabuf_system_heap_device:chr_file { open };
dontaudit trusty_apploader dmabuf_system_heap_device:chr_file { ioctl };
dontaudit trusty_apploader dmabuf_system_heap_device:chr_file { read };
dontaudit trusty_apploader dmabuf_system_heap_device:chr_file { open };
dontaudit trusty_apploader dmabuf_system_heap_device:chr_file { ioctl };
dontaudit trusty_apploader trusty_apploader:capability { dac_override };
dontaudit trusty_apploader trusty_apploader:capability { dac_override };
