# b/174961421
dontaudit update_engine dumpstate:fifo_file write ;
dontaudit update_engine dumpstate:fifo_file write ;
dontaudit update_engine dumpstate:fd use ;
dontaudit update_engine dumpstate:fd use ;
