# b/187016929
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat proc_filesystems:file read ;
dontaudit dex2oat postinstall_apex_mnt_dir:file getattr ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat proc_filesystems:file read ;
dontaudit dex2oat postinstall_apex_mnt_dir:file getattr ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
dontaudit dex2oat vendor_overlay_file:file read ;
