# Vendor sched files
type sysfs_vendor_sched, sysfs_type, fs_type;
userdebug_or_eng(`
    typeattribute sysfs_vendor_sched mlstrustedobject;
')
type proc_vendor_sched, proc_type, fs_type;

