# SJTAG
on init
    chown system system /sys/devices/platform/sjtag_ap/interface/access_lvl
    chown system system /sys/devices/platform/sjtag_ap/interface/auth
    chown system system /sys/devices/platform/sjtag_ap/interface/begin
    chown system system /sys/devices/platform/sjtag_ap/interface/dbg_domain
    chown system system /sys/devices/platform/sjtag_ap/interface/dbg_itvl
    chown system system /sys/devices/platform/sjtag_ap/interface/end
    chown system system /sys/devices/platform/sjtag_ap/interface/pubkey
    chown system system /sys/devices/platform/sjtag_gsa/interface/access_lvl
    chown system system /sys/devices/platform/sjtag_gsa/interface/auth
    chown system system /sys/devices/platform/sjtag_gsa/interface/begin
    chown system system /sys/devices/platform/sjtag_gsa/interface/dbg_domain
    chown system system /sys/devices/platform/sjtag_gsa/interface/dbg_itvl
    chown system system /sys/devices/platform/sjtag_gsa/interface/end
    chown system system /sys/devices/platform/sjtag_gsa/interface/pubkey

# Bluetooth
on post-fs-data
    chown bluetooth system /dev/logbuffer_btlpm
    chown bluetooth system /dev/logbuffer_tty16

on property:vendor.debug.ramdump.force_crash=true
    write /sys/kernel/pixel_debug/trigger "null"

on property:power.battery_input.suspended=true
   write /sys/kernel/debug/google_charger/input_suspend 1

on property:power.battery_input.suspended=false
   write /sys/kernel/debug/google_charger/input_suspend 0
