type exo_app, coredomain, domain;

app_domain(exo_app)
net_domain(exo_app)

allow exo_app app_api_service:service_manager find;
allow exo_app audioserver_service:service_manager find;
allow exo_app cameraserver_service:service_manager find;
allow exo_app mediaserver_service:service_manager find;
allow exo_app radio_service:service_manager find;
allow exo_app fwk_stats_hwservice:hwservice_manager find;
allow exo_app mediametrics_service:service_manager find;
allow exo_app gpu_device:dir search;

binder_call(exo_app, statsd)

get_prop(exo_app, device_config_runtime_native_boot_prop)
