system_public_prop(telephony_ril_prop)

system_restricted_prop(telephony_modem_prop)

system_vendor_config_prop(esim_modem_prop)
system_vendor_config_prop(fingerprint_ghbm_prop)
