type pixelntnservice_app, coredomain, domain;

app_domain(pixelntnservice_app)

set_prop(pixelntnservice_app, telephony_modem_prop)

allow pixelntnservice_app app_api_service:service_manager find;
