app_domain(vendor_rcs_app)

net_domain(vendor_rcs_app)

typeattribute vendor_rcs_app coredomain;

set_prop(vendor_rcs_app, radio_prop)

allow vendor_rcs_app app_api_service:service_manager find;
allow vendor_rcs_app audioserver_service:service_manager find;
allow vendor_rcs_app cameraserver_service:service_manager find;
allow vendor_rcs_app mediaserver_service:service_manager find;
allow vendor_rcs_app radio_service:service_manager find;
