on property:sys.boot_completed=1
	start vendor.pixelstats_vendor
on post-fs-data
    chown system system /sys/kernel/metrics/irq/stats_reset
service vendor.pixelstats_vendor /vendor/bin/pixelstats-vendor
    class hal
    user system
    group system context_hub readproc
    disabled